* {
    margin: 0;
    padding: 0;
}

.t_container {
    display: grid;
    margin-top: 100px;
    color: #fff;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 80px auto;
    gap: 15px;

}

table {
    display: inline-block;
    border-collapse: collapse;
    font-size: 12px;
}

.timetable:last-child {
    grid-column: 1/-1;
    justify-self: center;
}

tr:nth-child(even) {
    background: #5b5898;
}
tr:nth-child(odd) {
    background: #6e79b5;
}
th {
    background: #5b5898;
}

th,
td {
    border: 1px solid #fff;
    padding: 6px;
    max-width: 150px;
}

.timetable p {
    margin-top: 10px;
}

@media screen and (max-width: 980px) {
    .t_container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 520px) {
    table {
        font-size: 10px;
    }

    th,
    td {
        padding: 3px;
        max-width: 120px;
    }
}

@media screen and (max-width: 380px) {
    table {
        font-size: 9px;
    }

    th,
    td {
        max-width: 110px;
    }
}