.main {
    padding: 0 30px;
}

.about {
    max-width: 800px;
    text-align: left;
    margin: 100px auto 50px auto;
    background: #5e5b94;
    padding: 30px;
    border-radius: 20px;
    color: #efecec;
    box-shadow: 0 0 5px #5b5e63;
    font-size: 16px;
}

.about h3 {
    text-align: center;
    padding-bottom: 20px;
}

.about p {
    line-height: 30px;
}

@media screen and (max-width: 500px) {
    .main {
        padding: 0 15px;
    }

    .about {
        padding: 15px;
    }
}