.c_container {
    margin: 80px auto;
    max-width: 1000px;
    font-size: 18px;
    color: #efecec;
    text-align: left;
    line-height: 30px;
}

.c_container p {
    margin-top: 10px;
}

.c_container ul li {
    list-style-type: none;
}

@media screen and (max-width: 720px) {
    .c_container {
        margin: 100px 20px;
        font-size: 16px;
    }

    .c_container ul li i {
        font-size: 17px;
    }
}

@media screen and (max-width: 360px) {
    .c_container {
        margin: 100px 10px;
    }
}