* {
    margin: 0;
    padding: 0;
}

@keyframes anima {
    from {
        width: 0;
    }

    to {
        width: 209px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background: #7a85c1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    background: #6764a1;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-container header {
    background: #6764a1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1200px;
    margin: auto;
}

header .logo_container {
    background: #6764a1;
    padding: 0px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 55px;
    display: flex;
    align-items: center;
}

header .logo_container img {
    width: 110px;
}

header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    padding: 22px 0;
}

header .hide {
    height: 45px;
    position: absolute;
    left: 5px;
    transform: translate(0, -50%);
    top: 50%;
    display: none;
}

.header-container #navbar {
    position: sticky;
    top: 0;
    left: 0;
    position: absolute;
    top: 100%;
    background: #6764a1;
    display: none;
    height: 100vh;
}

.header-container #navbar li {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0 20px 0 10px;
    justify-self: left;

}

.header-container #navbar li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header-container #navbar li:first-child {
    padding-top: 15px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.main_header h1 {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

header .left {
    grid-column: 1/span 3;
}

header .right {
    grid-column: 5/span 3;
}

.main_header {
    padding: 10px 0 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.main_header h1 {
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.main_header .slogan {
    height: 40px;
    width: 209px;
    background-image: url('../images/slogan.png');
    justify-self: center;
    animation: anima 3s;
    animation-iteration-count: infinite;
    margin-top: 10px;
    grid-row: 2/3;
}

main>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    background:
        linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%) -20px 0,
        linear-gradient(225deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%) -20px 0,
        linear-gradient(315deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%),
        linear-gradient(45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%);
    background-size: 40px 40px;
    background-color: #f5f7f9;
    background-attachment: fixed;
    background-color: #8992c1;
    background-blend-mode: multiply;

}

.container .description {
    color: #fff;
    width: 65%;
    font-size: 18px;
    line-height: 44px;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(109, 121, 193, 0.4);
}

.feature1 {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 2;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
    max-width: 1180px;
}

.feature1 img {
    width: 550px;
    grid-column: 2/3;
    border: 2px solid #fff;
    border-radius: 15px;
}

.feature1 .facility {
    grid-column: 1/2;
    line-height: 35px;
    text-align: left;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    padding: 20px 15px 20px 40px;
    border-radius: 15px;
}

.feature1 .facility h3 {
    padding-bottom: 15px;
}

.video {
    padding-bottom: 40px;
    z-index: 1;
    margin: auto;
    max-width: 1180px;
}
.video p{
    margin-bottom: 15px;
    color: #fff;
    font-size: 22px;
}
.video video {
    border: 2px solid #fff;
    border-radius: 10px;
    margin: auto;
}

.courses {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    gap: 50px;
    max-width: 1080px;
    margin: auto;
    padding: 50px;
    justify-content: center;
    border-top: 1px solid #fff;
}
.courses .container {
    background: #5e5b94;
    font-size: 18px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px #5b5e63;
    display: grid;
    height: auto;
}

.courses .container>div {
    border: 2px solid #fff;
    padding: 30px 20px;
    border-radius: 10px;
    display: grid;
    justify-items: center;
}

.courses .container div h3 {
    font-size: 60px;
    color: #a9a8b6;
}

.courses .container div .course_description {
    max-width: 400px;
    margin: auto;
    background: #a3a2b4;
    padding: 15px;
    border-radius: 10px;
    color: #5f5aa2;
}

.courses .container div p {
    padding: 10px 0 30px;
    color: #fff;
    font-size: 24px;
}

.courses .container:last-child {
    grid-column: 1/-1;
    justify-self: center;
    max-width: 400px;
}

.social_container {
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.social {
    margin: 0 40px;
    padding: 20px;
    border-top: 1px solid #fff;
    width: 100%;
}

.social i {
    font-size: 30px;
    margin: 0 20px;
    color: #fff;
}

@media screen and (max-width: 1280px) {
    .courses {
        margin: 0 40px;
    }

    .feature1 {
        margin: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .feature1 img {
        width: 500px;
    }

    .feature1 {
        justify-content: center;
    }
}

@media screen and (max-width: 1140px) {
    main>.container {
        height: 500px;
    }

    .feature1 {
        justify-content: center;
    }

    .feature1 .facility {
        grid-column: 1/3;
        background: #5e5b94;
        box-shadow: 0 0 5px #5b5e63;
        margin-bottom: 30px;
    }

    .feature1 img {
        grid-column: 1/3;
        width: 620px;
    }
}

@media screen and (max-width: 1080px) {
    main>.container {
        height: 480px;
    }

    .container .description {
        line-height: 40px;
        padding: 10px;
        border: 1.5px solid #fff;
    }

    .courses {
        padding: 50px 10px;
    }
}

@media screen and (max-width: 900px) {
    .container .description {
        width: 80%;
    }

    nav a {
        display: none;
    }

    header .hide {
        display: block;
    }

    header {
        height: 60px;
    }

    .courses {
        grid-template-columns: repeat(1, minmax(auto, 400px));
        justify-items: center;
    }
}

@media screen and (max-width: 860px) {
    main>.container {
        height: 460px;
    }

    .container .description {
        width: 85%;
    }
}

@media screen and (max-width: 720px) {
    .main_header h1 {
        font-size: 30px;
        padding: 0 15px;
    }

    .container .description {
        line-height: 30px;
    }
    .video p{
        font-size: 18px;
    }
    .video video {
        width: 440px;
    }

    .feature1 img {
        width: 440px;
    }

    .feature1 .facility {
        width: 440px;
    }

    .courses .container {
        padding: 15px;
    }

    .courses .container div h3 {
        font-size: 50px;
    }

    .courses .container div p {
        font-size: 22px;
    }

}

@media screen and (max-width: 530px) {
    main>.container {
        height: 480px;
    }

    .video video {
        width: 380px;
    }

    .feature1 img {
        width: 380px;
    }

    .feature1 .facility {
        width: 380px;
    }

    .courses {
        padding: 50px 0;
    }

}

@media screen and (max-width: 440px) {
    .main_header h1 {
        font-size: 28px;
    }

    main>.container {
        height: 520px;
    }

    .video video {
        width: 360px;
        justify-self: center;
    }

    .feature1 img {
        width: 360px;
    }

    .feature1 .facility {
        width: 360px;
    }
}

@media screen and (max-width: 400px) {
    main>.container {
        height: 560px;
    }

    .video video {
        width: 320px;
    }

    .feature1 img {
        width: 320px;
    }

    .feature1 .facility {
        width: 320px;
    }

    .courses .container {
        width: 300px;
        padding: 12px;
    }

}

@media screen and (max-width: 380px) {
    .main_header h1 {
        font-size: 26px;
    }

    .courses .container {
        box-sizing: border-box;
    }

    .courses .container div h3 {
        font-size: 40px;
    }

    .courses .container div .course_description {
        padding: 5px;
    }

    .feature1 .facility {
        padding: 20px 10px 20px 30px;
        width: 300px;
        margin: auto;
    }

    .video video {
        width: 300px;
    }

    .feature1 img {
        width: 300px;
        margin-top: 20px;
    }

    .social i {
        font-size: 20px;
        margin: 0 10px;
    }
}